.new-plant-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}

.form-label {
  flex: 1 1 auto;
  min-width: 120px;
  text-align: left;
  font-weight: 500;
}

.form-input {
  flex: 1 1 150px;
  max-width: 200px;
  text-align: center;
  box-sizing: border-box;
}

.card-button.add-plant {
  align-self: center;
  /* width: 100%; */
  max-width: 200px;
}

.time-inputs {
  display: flex;
  gap: 8px;
}

.time-input-wrapper {
  position: relative;
  display: inline-block;
}

.time-input-wrapper input {
  width: 80px;
  padding-right: 24px;
  box-sizing: border-box;
}

.time-input-large input {
  width: 170px !important;
}

.custom-arrows {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-arrows button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-arrows button:hover {
  color: var(--accent-color);
}

.smv-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  background-color: var(--button-background);
  border-radius: 6px;
  padding: 4px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.smv-option {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--button-background);
  cursor: pointer;
  transition: all 0.2s;
  color: var(--foreground-color);
  flex: 1;
  /* flex-wrap: wrap; */
  text-align: center;
  /* align-items: center; */
  border: 0px;
  max-width: 100px;
}

.smv-option.selected {
  background-color: var(--button-hover);
  border: 0px;
}

.smv-option:hover {
  background-color: var(--button-hover);
  border: 0px;
}

.new-plant-form input[type="number"]::-webkit-inner-spin-button,
.new-plant-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-plant-form input[type="number"] {
  -moz-appearance: textfield;
}
